[submodule "gazebo-sim/catkin_ws/src/gazebo-sim/catkin_ws/src/ackermann_vehicle"]
	path = gazebo-sim/catkin_ws/src/gazebo-sim/catkin_ws/src/ackermann_vehicle
	url = https://github.com/hdh7485/ackermann_vehicle.git
